*{
    margin :0;
    padding: 0;
    text-align: center;
    font-family: arial;
}

.div-1{
    margin: 15px 148px;
    border-bottom: 2px solid chocolate;
    padding-bottom: 50px;
}
.img-logotipo{
    width: 400px;
}
.div-1 a{
    color: chocolate;
    padding: 8px;
    font-size: 18px;
} 
h1{
    font-size: 34px;
    padding: 16px;
} 
h2{
    font-size: 28px;
    color: chocolate;
    margin-bottom: 8px;
}
.img-produtos-padaria{
    width: 80%;
}
.background-color{
    margin: 20px 190px;
    background-color: chocolate;
    color: white;
}
h3{
    font-size: 24px;
     padding: 50px;
}
h4{
    font-size: 22px;
}
p{
    font-size: 20px;
    padding:  15px 100px;
    line-height: 32px;
}
.img-bolos,.img-paes{
    width: 85%;
    padding-bottom: 36px;
}
span{
    font-weight: bold;
}
